* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
body {
  background: rgb(117, 34, 195);
  background: linear-gradient(
    274deg,
    rgba(117, 34, 195, 0.6) 0%,
    rgba(253, 188, 45, 1) 100%
  );
}

.inputdiv {
  display: flex;
  flex-flow: row;
  margin-top: 10vh;
}

input {
  margin-left: auto;
  min-width: 30%;
}

input,
.todo-button {
  display: flex;
  justify-content: center;
  min-height: 7vh;
  border: none;
  font-size: 2em;
}

input:focus {
  outline: 2px solid orange; /* oranges! yey */
}

.todo-button {
  background-color: orange;
  margin-right: auto;
  align-items: center;
  padding: 0.5rem;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
}
.todo-button:focus {
  outline: 2px solid #8bbd01;
}
span {
  color: white;
  font-size: 1.5em;
}
#new-todo {
  display: flex;
  margin: auto;
  justify-content: center;
}

.todo-item {
  display: flex;
  flex-flow: row;
  font-size: 1rem;
}
.trash-btn,
.complete-btn,
.edit-btn {
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  font-size: large;
  background: none;
  outline: none;
}
.trash-btn {
  color: #ff3333;
}
.complete-btn {
  color: #3bb300;
}
.edit-btn {
  color: #0066ff;
}
.new-list {
  min-width: 30%;
  list-style: none;
}
.todo {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
  min-height: 10vh;
}
.todo li {
  flex: 1;
}
.todo-item {
  padding: 0 0.5rem;
}
.fa-trash,
.fa-check,
.fa-edit {
  pointer-events: none;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
